################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/Library
/Library/metadata/04
/Library/metadata/04
